body{
    background-color: rgba(26, 26, 26, 0.859);
}

.main__perfil{
    width: fit-content;
}
.main__perfil img{
    border-radius: 30px;
    border-top-right-radius: 120px  100px;
    border-bottom-left-radius: 120px 100px;
    animation-name: girate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes girate{
    99.8%{
        border-radius: 50%;
        transform: rotate(-360deg)
    }
}
footer a{
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}